.avatar-upload {
    position: relative;
    max-width: 150px;
    margin: 0 auto 20px;
}

.avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
}

.avatar-edit input {
    display: none;
}

.avatar-edit label {
    display: inline-flex;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid #d2d6de;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
    align-items: center;
    justify-content: center;
}

.avatar-edit label:hover {
    background: #f1f1f1;
    border-color: #d2d6de;
}

.avatar-preview {
    width: 150px;
    height: 150px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #f8f9fc;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}

.avatar-preview > div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/images/avatar/avatar-default.png");
    background-size: cover;
}

.card-header {
    background-color: #f8f9fc;
    border-bottom: 1px solid #e3e6f0;
}