spring:
  application:
    name: leo-laptop
  profiles:
    active: dev
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB

logging:
  level:
    org:
      springframework:
        security: DEBUG